<ion-modal-view class="ion-nifty-modal" style="height: 108px !important;">
<div class="ion-modal-content-custom">
  <ion-content>
    <div class="list">
        <a class="item item-icon-left" style="color:#999" ng-click="account.getPictures(0)">
            <i class="icon ion-camera"></i>拍照
        </a>
        <a class="item item-icon-left" style="color:#999" ng-click="account.getPictures(1)">
            <i class="icon ion-image"></i>从相册选择
        </a>
    </div>
  </ion-content>
</div>
</ion-modal-view>