<ion-view view-title="缓存设置">
    <ion-content style="background-color:#f5f5f5">
        <ul class="list">
          <div class="item item-divider no-border" style="font-size:14px;color:#999">
            消息记录
          </div>
            <li class="item">
              <a href="" ng-click="settings.cache.clear('shop')"></a>
                清空商家推送消息
            </li>
            <li class="item no-bottom-border">
              <a href="" ng-click="settings.cache.clear('system')"></a>
                清空系统消息
            </li>
        </ul>
    </ion-content>
</ion-view>