<ion-view view-title="关于喵喵熊">
    <ion-content style="background-color:#f5f5f5">
        <div class="list card">
            <div class="item item-image">
                <img src="img/logo.png" alt="喵喵熊logo" style="width:200px;height:100px">
                <p style="font-size:20px">喵喵熊1.0</p><br />
            </div>
            <div class="item contact-us">
                <h4 style="color:#666">联系我们</h4>
                <div>
                    <label for="">微信公众号:</label>
                    <span>miaomiaoxiong007</span>
                </div>
                <div>
                    <label for="">官方微博:</label>
                    <span>@泰和明-喵喵熊</span>
                </div>
                <div>    
                    <label for="">邮箱:</label>
                    <span>mmx@thm-tech.com</span>
                </div>
            </div>
        </div>
        <div class="mmx-footer">
            <p>喵喵熊 妙生活</p>
            <span>immbear.com</span>
        </div>
    </ion-content>
</ion-view>