<ion-view view-title="隐私设置">
    <ion-content style="background-color:#f5f5f5">
        <ul class="list">
            <li class="item item-toggle no-top-border">
             好友可以查看我的收藏
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
            </li>
            <li class="item item-toggle">
             好友可以查看我的粉店
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
            </li>
            <li class="item item-toggle no-bottom-border">
             好友可以查看我的逛店记录
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
            </li>
        </ul>
    </ion-content>
</ion-view>